*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    /* text-align: right; */
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

/* Logout Button */
#logout-button,#profile-button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 7px 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 95%;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}




#logout-button:hover, #profile-button:hover {
    background-color: #c82333;
}

/* Blog Form */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;

    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Blog List */
#blog-list {
    list-style: none;
    padding: 0;
}

#blog-list li {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

#blog-list h3 {
    margin: 0 0 10px;
}

#blog-list p {
    margin: 0 0 10px;
    color: #555;
}

#blog-list button {
    background-color: #dc3545;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 5px;
}

#blog-list button:hover {
    background-color: #c82333;
}

/* Media Query for Smaller Screens
@media (max-width: 600px) {
    form,
    #blog-list li {
        padding: 10px;
    }
} */
