*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.maindiv{
    margin-top: 14%;
}



#loginInputPassword{
    width: 18%;
    margin-bottom: 17px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  margin-left: 41%;
}

#loginEmail{
    padding-left: 12px;
    width: 18%;
    margin-bottom: 17px;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
  margin-left: 41%;
}

.h1{
    text-align: center;
    padding-bottom: 4%;
}